#login-container{
    
    background-color: #fff; 
    padding: 160px 0 30px 0;
    text-align: center;

    .input-container {
        width: 330px; 
        margin: 0 auto; 
        padding: 5px 10px; 
        overflow: hidden;

        input {
            font-size: 16px;
            display: block;
            border-radius: 5px;
            outline: none;
            border: 1px solid #ccc;
            height: 36px;
            padding: 6px;
        }
        i {
            color: rgb(233, 32, 61);
            width: 16px;
            float: left;
            margin-top: 10px;
            margin-right: 10px;
        }
    }

    .phone-container {
        input {
            margin-left: 20px;
        }
    }

    .password-container {
        margin-top: 10px;
        input {
            margin-left: 20px;
            margin-right: 80px;
        }
        button {
            width: 80px;
            height: 100%;
            font-size: 16px;
            color: rgb(233, 32, 61);
            border: 0;
            background-color: #fff;
            text-align: center;
            float: right;
        }
    }
    .btn-login {
        width: 300px;
        text-align: center;
        background-color: rgb(233, 32, 61);
        color: #fff;
        border: 1px solid rgb(233, 32, 61);
        border-radius: 5px;
        font-size: 16px;
        margin: 10px auto 0;
        padding: 5px 0;
    }

}